@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-medihost-50: #ecfdf5;
  --color-medihost-100: #d1fae5;
  --color-medihost-200: #a7f3d0;
  --color-medihost-300: #6ee7b7;
  --color-medihost-400: #34d399;
  --color-medihost-500: #10b981;
  --color-medihost-600: #059669;
  --color-medihost-700: #047857;
  --color-medihost-800: #065f46;
  --color-medihost-900: #064e3b;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
